@page "/funcionarios"

<h3>Funcionários</h3>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-add-funcionario">Adicionar Novo Funcionário</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {
                    <tr>
                        <td>funcionario.Nome</td>
                        <td>funcionario.Cargo</td>
                        <td>funcionario.Departamento</td>
                        <td>
                            <button class="btn btn-info">Visualizar</button>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
