.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: yellow;
    position: absolute;
    top: 0.5rem;
    background-color: #003838;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 244, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);*/
    background: Black;
}

.navbar-toggler:checked {
    background-color: #003838;
}

.top-row {
    height: 3.5rem;
    background-color: #003838;
    border-bottom: groove;
    border-color: aqua;
}

.bottom-row {
    height: 3.5rem;
    background-color: #003838;
    border-bottom: groove;
    border-color: aqua;
    
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}


.bi-people-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-people' viewBox='0 0 16 16'%3E%3Cpath d='M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4'/%3E%3C/svg%3E");
    /* caso queira controlar repetição, tamanho, etc: */
    background-repeat: no-repeat;
    background-position: center;
}

.box-seam-nav-menu {
    
    /* ícone “box-seam” em branco */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z'/%3E%3C/svg%3E");
    
}

.currency-dollar-nav-menu {
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z'/%3E%3C/svg%3E");
    
}

.clipboard-data-nav-menu {
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z'/%3E%3Cpath fill='%23fff' d='M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z'/%3E%3Cpath fill='%23fff' d='M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z'/%3E%3C/svg%3E");
    
}

.gear-nav-menu {
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0%200%2016%2016'%3E%3Cpath fill='%23fff' d='M8%204.754a3.246%203.246%200%201%200%200%206.492%203.246%203.246%200%200%200%200-6.492M5.754%208a2.246%202.246%200%201%201%204.492%200%202.246%202.246%200%200%201-4.492%200'/%3E%3Cpath fill='%23fff' d='M9.796%201.343c-.527-1.79-3.065-1.79-3.592%200l-.094.319a.873.873%200%200%201-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54%202.541l.159.292a.873.873%200%200%201-.52%201.255l-.319.094c-1.79.527-1.79%203.065%200%203.592l.319.094a.873.873%200%200%201.52%201.255l-.16.292c-.892%201.64.901%203.434%202.541%202.54l.292-.159a.873.873%200%200%201%201.255.52l.094.319c.527%201.79%203.065%201.79%203.592%200l.094-.319a.873.873%200%200%201%201.255-.52l.292.16c1.64.893%203.434-.902%202.54-2.541l-.159-.292a.873.873%200%200%201.52-1.255l.319-.094c1.79-.527%201.79-3.065%200-3.592l-.319-.094a.873.873%200%200%201-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873%200%200%201-1.255-.52zm-2.633.283c.246-.835%201.428-.835%201.674%200l.094.319a1.873%201.873%200%200%200%202.693%201.115l.291-.16c.764-.415%201.6.42%201.184%201.185l-.159.292a1.873%201.873%200%200%200%201.116%202.692l.318.094c.835.246.835%201.428%200%201.674l-.319.094a1.873%201.873%200%200%200-1.115%202.693l.16.291c.415.764-.42%201.6-1.185%201.184l-.291-.159a1.873%201.873%200%200%200-2.693%201.116l-.094.318c-.246.835-1.428.835-1.674%200l-.094-.319a1.873%201.873%200%200%200-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873%201.873%200%200%200%201.945%208.93l-.319-.094c-.835-.246-.835-1.428%200-1.674l.319-.094A1.873%201.873%200%200%200%203.06%204.377l-.16-.292c-.415-.764.42-1.6%201.185-1.184l.292.159a1.873%201.873%200%200%200%202.692-1.115z'/%3E%3C/svg%3E");
    
}


.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.37);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.nav-scrollable {
    background-color: #003838;
    min-height: 100vh;
}

.nav-link {
    color: #4EF37A !important;
}

.navbar-brand {
    color: #4EF37A !important;
}
.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
