@using System.ComponentModel.DataAnnotations
@inherits ComponentBase

<div class="mb-4">
    <h5 class="mb-3">
        <i class="bi bi-geo-alt-fill text-success"></i>
        Endereço da Empresa
    </h5>

    <div class="mb-3">
        <label class="form-label fw-semibold">Endereço *</label>
        <input class="form-control" type="text" value="Av. Paulista, 1000 - Bela Vista" />
        <div class="text-danger small">Mensagem de validação</div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label fw-semibold">Cidade *</label>
            <input class="form-control" type="text" value="São Paulo" />
            <div class="text-danger small">Mensagem de validação</div>
        </div>

        <div class="col-md-3 mb-3">
            <label class="form-label fw-semibold">Estado *</label>
            <input class="form-control" type="text" value="SP" />
            <div class="text-danger small">Mensagem de validação</div>
        </div>

        <div class="col-md-3 mb-3">
            <label class="form-label fw-semibold">CEP *</label>
            <input class="form-control" type="text" value="01310-100" />
            <div class="text-danger small">Mensagem de validação</div>
        </div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public CompanyAddressModel Model { get; set; } = default!;
}
