@using MyRhSystem.APP.Shared.Models;

@using Microsoft.AspNetCore.Components;
<div class="lembrete-card  "concluido")">
    <div class="lembrete-titulo">Titulo</div>
    <div class="lembrete-descricao">Descricao</div>
    <div class="lembrete-footer">
        <span class="prioridade">Prioridade</span>
        <span class="data">Data.ToString("dd/MM/yyyy")</span>
    </div>
</div>

@code {
}
